header {
	height: 70px;
}
nav {
	display: flex;
	height: 70px;
	justify-content: space-between;
}
#logo-container {
	flex: 0.6;
	height: 100%;
	display: flex;
	justify-content: center;
}
#logo-container img {
	height: 100%;
}
nav ul {
	flex: 3;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}
nav ul li {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

nav ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 100%;
	transition: border-bottom 200ms, color 200ms;
}

nav ul li a:hover {
	text-decoration: none;
	color: rgb(175, 129, 129);
	border-bottom: solid rgb(175, 129, 129) 3px;
}

#buscador-container {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#buscador {
	outline: none;
	border: none;
}
